spring:
  application:
    name: backbone
  datasource:
    url: jdbc:mysql://${BD_HOST}:${BD_PORT}/${BD_NAME}
    username: ${BD_USERNAME:root}
    password: ${BD_PASSWORD:12345}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${API_AUTHORA_URL}/oauth2/jwks

server:
  port: ${APP_PORT:8082}
